# Byte-compiled / optimized / DLL files for Python
__pycache__/
*.py[cod]
*$py.class

# Go build files
*.exe
*.exe~
*.dll
*.so
*.dylib

# Java compiled files
*.class
*.jar
*.war
*.ear
target/
build/

# Python virtual environments
venv/
env/
*.egg-info/
.eggs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment configuration files
*.env
.env.*

# Log files
*.log

# Terraform files
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars

# Pulumi files
.pulumi/
*.pulumi.state

# macOS-specific files
.DS_Store

# IDE-specific files
.idea/
.vscode/
*.iml